@import './variables';

.Tictactoe {
  &__turns {
    padding: 2rem;
  }

  &__board {
  }

  &__row {
    @extend %flex-center;
  }

  &__cell {
    padding: 2.5rem;
    font-size: 1.5rem;

    &:disabled {
      background: white;
      color: black;
    }
  }
}
